{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "no-console": "off",
    "@typescript-eslint/array-type": ["error", {
      "default": "generic"
    }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
